@model Tuple<List<Prodotti>, List<Prodotti>, List<Prodotti>>

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto alla Bancarella di Nicolas Cage</h1>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Item3.Count; i++)
        {
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <img src="@Model.Item3[i].Image" class="d-block mx-auto" style="height: 200px; object-fit: contain;">
            </div>
        }
    </div>
</div>

@if (Model.Item1.Any())
{
    <div>
        <h2>Ultimi 3 Articoli Arrivati</h2>

        @foreach (var prodotto in Model.Item1.Take(3))
        {
            <div class="prodotto-container">
                <h4>@prodotto.Name</h4>
                <p>@prodotto.Description</p>
                <img src=@prodotto.Image alt="Immagine del prodotto" style="max-width: 300px;">
                <p>€@(prodotto.Price.ToString("0.00"))</p>
                <a class="nav-link text-red btn-btn" asp-controller="Prodotti" asp-action="Details" asp-route-id="@prodotto.Id">Scopri</a>
            </div>
        }
    </div>
}
else
{
    <div>
        <h2>Non abbiamo niente</h2>
    </div>
}

<br><br><br>

@if (Model.Item2.Any())
{
    <div>
        <h2>Prossimi Articoli In Arrivo</h2>

        @foreach (var prodotto in Model.Item2)
        {
            <div class="prodotto-container">
                <h4>@prodotto.Name</h4>
                <p>@prodotto.Description</p>
                <img src=@prodotto.Image alt="Immagine del prodotto" style="max-width: 300px;">
                <p>Data di uscita: @prodotto.ReleaseDate.ToShortDateString()</p>
            </div>
        }
    </div>
}
else
{
    <div>
        <h2>Nessun Articolo In Arrivo</h2>
    </div>
}

<div class="text-center" id="password-container">
    <input type="password" id="password-input" placeholder="Inserisci la password">
    <button class="btn btn-primary" onclick="checkPassword()">Invia</button>
</div>

<div class="text-center" id="buttons-container" style="display:none;">
    <button class="btn btn-mario" onclick="showIframe(1)"> </button>
    <button class="btn btn-tetris" onclick="showIframe(2)"> </button>
    <button class="btn btn-metal-gear" onclick="showIframe(3)"> </button>
    <button class="btn btn-smash-bros" onclick="showIframe(4)"> </button>
    <button class="btn btn-secondary" onclick="resetPage()">Reset</button>
</div>

<div id="iframe-container" class="text-center" style="margin-top: 20px;">
    <iframe id="iframe1" src="https://www.retrogames.cc/embed/44617-super-mario-all-stars-super-mario-world-improvement.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" style="display:none; margin: 0 auto;"></iframe>
    <iframe id="iframe2" src="https://www.retrogames.cc/embed/25584-tetris-world-rev-a.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" style="display:none; margin: 0 auto;"></iframe>
    <iframe id="iframe3" src="https://www.retrogames.cc/embed/43266-metal-gear-solid-disc-1.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" style="display:none; margin: 0 auto;"></iframe>
    <iframe id="iframe4" src="https://www.retrogames.cc/embed/32117-super-smash-bros-usa.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" style="display:none; margin: 0 auto;"></iframe>
</div>

<style>
    .carousel {
        margin-top: 50px;
        height: 230px;
    }
    .carousel-item {
        height: 200px;
    }
    .carousel-item img {
        height: 100%;
        width: auto;
        object-fit: contain;
        margin: auto;
    }
    .btn-btn {
        display: inline-block;
        width: 80px;
        padding: 5px 5px;
        background-color: #ff7b00; 
        color: #fff; 
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .prodotto-container {
        margin: 20px 0;
    }
    .prodotto-container img {
        max-width: 300px;
        height: auto;
        margin: auto;
    }

    .btn-mario {
    background-image: url(https://i.imgur.com/OyWDiAX.png);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
        height: 50px;
        padding: 10px;
    }
    .btn-tetris {
    background-image: url(https://imgur.com/mT3yFVg.png);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
        height: 50px;
        padding: 10px;
    }
    .btn-metal-gear {
    background-image: url(https://i.imgur.com/2dYa0WE.png);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
        height: 50px;
        padding: 10px;
    }
    .btn-smash-bros {
    background-image: url(https://i.imgur.com/Bd4xagD.png);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    padding: 10px;
    }

    #iframe-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #iframe-container iframe {
        margin: 20px auto;
    }
</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function checkPassword() {
        var password = document.getElementById('password-input').value;
        if (password === 'arcade') {
            document.getElementById('password-container').style.display = 'none';
            document.getElementById('buttons-container').style.display = 'block';
        } else {
            alert('Password errata, riprova.');
        }
    }

    function resetPage() {
        document.getElementById('buttons-container').style.display = 'none';
        document.getElementById('password-container').style.display = 'block';
        document.getElementById('password-input').value = '';
        document.getElementById('iframe1').style.display = 'none';
        document.getElementById('iframe2').style.display = 'none';
        document.getElementById('iframe3').style.display = 'none';
        document.getElementById('iframe4').style.display = 'none';

    }

    function showIframe(number) {
        document.getElementById('iframe1').style.display = 'none';
        document.getElementById('iframe2').style.display = 'none';
        document.getElementById('iframe3').style.display = 'none';
        document.getElementById('iframe4').style.display = 'none';
        
        document.getElementById('iframe' + number).style.display = 'block';
    }
</script>